---
import type { CollectionEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { AiOutlineRollback } from "react-icons/ai";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
export const getStaticPaths = async () => {
  const works = await getCollection("works");
  const paths = works.map((work) => {
    return {
      params: {
        slug: work.slug,
      },
      props: {
        work,
      },
    };
  });
  return paths;
};
interface Props {
  work: CollectionEntry<"works">;
}
const { work } = Astro.props;
const { Content } = await work.render();
---

<Layout title={work.data.title}>
  <div class="flex-col relative grid">
    <a
      href="/#works"
      transition:name={`link ${work.data.title}`}
      class="px-2 py-1 border-text border hover:text-primary center mb-2 w-full max-w-[50px] justify-self-start gap-3 font-bold"
    >
      <AiOutlineRollback size={21} />
    </a>
    <div class="justify-self-center">
      <h2
        class="text-center text-primary text-2xl lg:text-3xl mb-3"
        transition:name={`title ${work.data.title}`}
      >
        {work.data.title}
      </h2>
      <Image
        src={work.data.image}
        alt={work.data.title}
        width={900}
        height={600}
        transition:name={`image ${work.data.title}`}
      />
    </div>
  </div>
  <div
    class="prose prose-h3:text-text prose-h4:text-text text-text prose-strong:text-text prose-a:text-text prose-md lg:prose-2xl overflow-visible relative mb-20"
    transition:animate="slide"
  >
    <Content />
  </div>
</Layout>
